.saicf-chat-window, .saicf-chat-window * {
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.saicf-chat-widget-icon {
    position: fixed;
    bottom: 25px;
    right: 25px;
    color: white;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 36px;
    z-index: 999998 !important;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Only apply pulsing if .pulsing class is added in JS */
.pulsing {
    animation: pulse 2s infinite;
}

.saicf-chat-title {
    font-size: 18px;
}

.saicf-chat-window {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 550px;
    background-color: transparent;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex !important;
    flex-direction: column;
    z-index: 10000000 !important;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.saicf-chat-window.show {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    display: none;
}

.saicf-chat-header {
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    flex-direction: column;
}

.saicf-chat-header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saicf-logo-message-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.saicf-close-btn {
    background: none;
    border: none;
    color: white;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
}

.saicf-close-chat-widget-icon {
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.saicf-close-chat-widget-icon:hover {
    transform: scale(1.2);
}

.saicf-chat-body {
    flex: 1;
    padding: 8px;
    padding-top: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.saicf-chat-footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    gap: 8px;
}

.saicf-powered-by {
    display: flex;
    justify-content: center;
}

.saicf-powered-by-text {
    font-size: 10px;
    color: rgb(146, 146, 146);
    cursor: pointer;
    text-decoration: underline;
}

.saicf-input-send-container {
    display: flex;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.saicf-chat-footer input {
    flex: 1;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.saicf-chat-footer button {
    margin-left: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.saicf-chat-footer button:hover {
    background-color: #0595d3;
}

.saicf-widget-message {
    max-width: 80%;
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}

.widget-user-message {
    align-self: flex-end;
    color: white;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
}

.widget-bot-message {
    align-self: flex-start;
    background-color: #ffffff;
    color: rgb(64, 64, 64);
    border-radius: 8px;
    font-size: 16px;
}

/* Remove margins from first/last child in user/bot messages */
.widget-user-message > :first-child,
.widget-bot-message > :first-child {
    margin: 0;
}

.widget-user-message > :last-child,
.widget-bot-message > :last-child {
    margin: 0;
}

.saicf-widget-send-icon {
    font-size: 16px;
    font-style: normal;
}

.saicf-loading-dots {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.saicf-loading-dots div {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    border-radius: 50%;
    animation: loading 0.6s infinite alternate;
}

@keyframes loading {
    to {
        opacity: 0.3;
        transform: translateY(-8px);
    }
}

.saicf-loading-dots div:nth-child(2) {
    animation-delay: 0.2s;
}
.saicf-loading-dots div:nth-child(3) {
    animation-delay: 0.4s;
}

.saicf-chat-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
}

/* Overriding alignment if config says left or elevated */
.saicf-chat-widget-icon.align-left {
    left: 25px !important;
    right: auto !important;
}
.saicf-chat-widget-icon.elevated {
    bottom: 55px !important; /* 25 + 30 = 55 */
}

.saicf-chat-window.align-left {
    left: 20px !important;
    right: auto !important;
}

.saicf-chat-window.elevated {
    bottom: 50px !important; /* 20 + 30 = 50 */
}

@media (max-width: 768px) {
    .saicf-chat-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
    }

    .saicf-chat-window {
        position: fixed;
        left: 4%;
        bottom: 1%;
        width: 92%;
        height: 90%;
        border-radius: 16px;
    }

    body.no-scroll {
        overflow: hidden;
    }
}
